<!-- Uploadur: Uploads OSX Screenshots to Imgur.
Copyright (C) 2014  Tassilo Selover-Stephan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Contact Tassilo@selover.net for any questions -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Wallpiper</string>
	<key>CFBundleExecutable</key>
	<string>Wallpiper</string>
	<key>CFBundleIconFile</key>
	<string>wallpiper.icns</string>
	<key>CFBundleIdentifier</key>
	<string>selovert.wallpiper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Wallpiper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.5</string>
	<key>CFBundleSignature</key>
	<string>SBLM</string>
	<key>CFBundleVersion</key>
	<string>0.5.5</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Don't steal this code, please.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PyMainFileNames</key>
	<array>
		<string>__boot__</string>
	</array>
	<key>PyOptions</key>
	<dict>
		<key>alias</key>
		<true/>
		<key>argv_emulation</key>
		<false/>
		<key>emulate_shell_environment</key>
		<false/>
		<key>no_chdir</key>
		<false/>
		<key>prefer_ppc</key>
		<false/>
		<key>site_packages</key>
		<false/>
		<key>use_pythonpath</key>
		<false/>
	</dict>
	<key>PyResourcePackages</key>
	<array>
	</array>
	<key>PyRuntimeLocations</key>
	<array>
		<string>@executable_path/../Frameworks/Python.framework/Versions/2.7/Python</string>
		<string>/System/Library/Frameworks/Python.framework/Versions/2.7/Python</string>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/usr/bin/python</string>
		<key>PythonLongVersion</key>
		<string>2.7.5 (default, Mar  9 2014, 22:15:05) 
[GCC 4.2.1 Compatible Apple LLVM 5.0 (clang-500.0.68)]</string>
		<key>PythonShortVersion</key>
		<string>2.7</string>
		<key>py2app</key>
		<dict>
			<key>alias</key>
			<true/>
			<key>template</key>
			<string>app</string>
			<key>version</key>
			<string>0.7.1</string>
		</dict>
	</dict>
</dict>
</plist>
