<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>f3908f78693871e</string>
	<key>clientSecret</key>
	<string>80b84cf7f60dfe76c844e34b54075130158a1081</string>
</dict>
</plist>
