<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }}{% endif %}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <script src='{{ site.baseurl }}/js/vendor/modernizr.js'></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/Uploadur/images/favicomatic/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Uploadur/images/favicomatic/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Uploadur/images/favicomatic/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Uploadur/images/favicomatic/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/Uploadur/images/favicomatic/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/Uploadur/images/favicomatic/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/Uploadur/images/favicomatic/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/Uploadur/images/favicomatic/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/Uploadur/images/favicomatic/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/Uploadur/images/favicomatic/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/Uploadur/images/favicomatic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/Uploadur/images/favicomatic/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/Uploadur/images/favicomatic/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/Uploadur/images/favicomatic/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/Uploadur/images/favicomatic/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/Uploadur/images/favicomatic/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/Uploadur/images/favicomatic/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/Uploadur/images/favicomatic/mstile-310x310.png" />


  </head>

  <!-- <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

  </body> -->

  <body>
    <div id='wrap'>
      <div class='row'>
        <div class='large-12 columns' id='content'>
          {{ content }}
        </div>
      </div>
      <div id='footer'>
        {% include svg-icons.html %}
        <div class="copywrite">Copyright © 2015 Tassilo Selover-Stephan.</div>
      </div>
    </div>
    <script src='{{ site.baseurl }}/js/vendor/jquery.js'></script>
    <script src='{{ site.baseurl }}/js/vendor/fastclick.js'></script>
    <script src='{{ site.baseurl }}/js/slick.min.js'></script>
    <script src='{{ site.baseurl }}/js/foundation.js'></script>
    <script src='{{ site.baseurl }}/js/init.js'></script>
  </body>
</html>
